<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ui.mypet"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- 最低版本要3.0以上的  因为ACTIONBAR在3.0一下不支持 -->
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 使用网络功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.gdut.pet.ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.gdut.pet.ui.IndexActivity"
            android:label="@string/personal_central" >
        </activity>
        
        <activity
            android:name="com.gdut.pet.ui.PetActivity"
            android:label="@string/personal_central" >
        </activity>
        
        <activity
            android:name="com.gdut.pet.ui.MyFriendsActivity"
            android:label="@string/personal_central" >
        </activity>
        
        <activity
            android:name="com.gdut.pet.ui.SocialActivity"
            android:label="@string/personal_central" >
        </activity>
        
        <activity
            android:name="com.gdut.pet.ui.MyActivity"
            android:label="@string/personal_central" >
        </activity>
        
        <activity
            android:name="com.peo.man.PersonalCentral"
            android:label="@string/personal_central" >
        </activity>
        
        <activity 
            android:name="com.gdut.pet.ui.RegisteActivity"
            android:label="@string/register" >            
        </activity>
        
         <activity 
            android:name="com.gdut.pet.ui.LoginActivity"
            android:label="@string/login" >            
        </activity>
        <activity 
            android:name="com.peo.man.AllMessage"
            android:label="@string/allmessage" >            
        </activity>
        
        <activity 
            android:name="com.peo.man.PetMessage"
            android:label="@string/petmessage" >            
        </activity>
        
        
         <activity 
            android:name="com.peo.stor.RegisterStor"
            android:label="@string/registerStor" >            
        </activity>
        
         <activity 
            android:name="com.peo.stor.StorCentral"
            android:label="@string/stormenu" >            
        </activity>
        
          <activity 
            android:name="com.peo.straypet.StrayPetList"
            android:label="@string/straylist" >            
        </activity>
         
          <activity android:name="com.peo.straypet.ItemDetail">
              
          </activity>
          <activity android:name="com.gdut.pet.ui.BBSDetailActivity">
              
          </activity>
          
    </application>

</manifest>